[run]
source =
    imagersite
    imager_profile
    imager_images
    imager_api

omit =
    */migrations/*
    */tests.py
    manage.py
    lending_library/wsgi.py
    */apps.py
    */wsgi.py

[report]
show_missing = True