{% extends 'base.html' %}

{% block title %}Register{% endblock %}
{% load static %}
{% block css %}
<link href="{% static 'bootstrap/examples/signin/signin.css' %}" rel="stylesheet">
<link href="{% static 'regform.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
  <form method="post" class="form-signin">
    <h2 class="form-signin-heading">Please sign up</h2>
    {% csrf_token %}
    <ul id='form-ul'>
        {{ form.as_ul }}
    </ul>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
  </form>
{% endblock %}