{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block css %}<link href="{% static 'style.css' %}" rel="stylesheet">{% endblock %}

{% block title %}{{profile.user}}'s Library{% endblock %}


{% block body %}
<div class="container">    
  <div class="row">
    {% if user.is_authenticated %}
        <h1>{{ user.first_name }}'s Albums</h1>
        {% for photo in photos %}
            <div class="col-sm-4"> 
              <div class="panel panel-success">
                <div class="panel-heading">{{photo.title}}</div>
                <div class="panel-body crop"><a href="{% url 'photo' photo.id %}"><img src="{{ photo.photo.url }}" class='album_display'/></a></div>
                <div class="panel-footer">{{photo.description}}</div>
              </div>
            </div>
        {% endfor %}
    {% endif %}
  </div>
</div><br>
{% endblock %}


