{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block css %}<link href="{% static 'style.css' %}" rel="stylesheet">{% endblock %}

{% block title %}{{album.owner.user.username}}'s Album{% endblock %}


{% block body %}
<div class="container">
  <div class="row">
        <h1>{{ album.owner.user.username }}'s Albums</h1>
        <a href="{% url 'edit_album' album.id %}"><button class="btn btn-lg btn-primary btn-block">Edit</button></a>
        {% for photo in photos %}
            <div class="col-sm-4"> 
              <div class="panel panel-success">
                <div class="panel-heading">{{photo.title}}</div>
                <div class="panel-body crop"><a href="{% url 'photo' photo.id %}"><img src="{{ photo.photo.url }}" class='album_display'/></a></div>
                <div class="panel-footer">{{photo.description}}</div>
              </div>
            </div>
        {% endfor %}

  </div>
</div><br>
{% endblock %}


