{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block css %}<link href="{% static 'style.css' %}" rel="stylesheet">{% endblock %}

{% block title %}{{profile.user}}'s Library{% endblock %}


{% block body %}
<div class="container">
  <div class="row">
    {% if user.is_authenticated %}
        <h1>{{ user.username }}'s Albums</h1>
        {% for album in albums %}
        <div class="col-sm-4 photo_panel">
              <div class="panel panel-success">
                <a href="{% url 'album' album.id %}">
                    <div class="panel-heading">{{album.title}}</div>
                    <div class="panel-body crop">
                    {% if album.cover_photo %}
                        <img src="{{ album.cover_photo.photo.url }}" height = 100, width= 100/>
                    {% else %}
                        <img src="{% static 'generic.jpg' %}"height = 100, width= 100/>
                    {% endif %}
                    </div>
                    <div class="panel-footer">{{album.description}}</div>
                </a>
              </div>
            </div>
        {% endfor %}
        </div>
    </div><br>
        <hr>
        <div class="container">
        <div class="row">
        <h1>{{ user.username }}'s Photos</h1>
        {% for photo in photos %}
            <div class="col-sm-4 photo_panel">
                    <div class="panel panel-success">
                        <a href="{% url 'photo' photo.id %}">
                            <div class="panel-heading">{{photo.title}}</div>
                        </a>
                        <div class="panel-body crop">
                            <a class="fancybox" rel="gallery2" href="{{photo.photo.url}}">
                                <img src="{{ photo.photo.url }}" height = 100, width= 100/>
                            </a>
                        </div>
                        <div class="panel-footer">{{photo.description}}</div>
                    </div>
            </div>
        {% endfor %}
        </div>
</div><br>
    {% endif %}
</ul>
{% endblock %}
{% block scripts %}
  <script type="text/javascript">
      $(document).ready(function() {
        $(".fancybox").fancybox({
          prevEffect  : 'none',
          nextEffect  : 'none',
        });
      });
    </script>
{% endblock %}

    {% if True %}
    {% thumbnail album.cover_photo.url "100x100" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}
    {% else %}
        {% with STATIC_URL|add:"/generic.jpg" as path %}
        {% thumbnail path "100x100" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}
    {% endwith %}
    {%endif%}