{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block css %}<link href="{% static 'style.css' %}" rel="stylesheet">{% endblock %}

{% block title %}{{profile.user}}'s Library{% endblock %}


{% block body %}
<div class="container">
  <div class="row">
    {% if user.is_authenticated %}
        <h1>{{ user.username }}'s Albums</h1>
        {% for album in albums %}
        <div class="col-sm-4"> 
              <div class="panel panel-success">
                <div class="panel-heading">{{album.title}}</div>
                <div class="panel-body crop"><a href="{% url 'album' album.id %}">
            {% if album.cover_photo %}
                <a href="{% url 'album' album.id %}"><img src="{{ album.cover_photo.photo.url }}" height = 100, width= 100/></a>
            {% else %}
                <a href="{% url 'album' album.id %}"><img src="{% static 'generic.jpg' %}"height = 100, width= 100/></a>
            {% endif %}
            </div>
                <div class="panel-footer">{{album.description}}</div>
              </div>
            </div>
        {% endfor %}
        </div>
    </div><br>
        <hr>
        <div class="container">
        <div class="row">
        <h1>{{ user.username }}'s Photos</h1>
        {% for photo in photos %}
            <div class="col-sm-4"> 
              <div class="panel panel-success">
                <div class="panel-heading">{{photo.title}}</div>
                <div class="panel-body crop"><a href="{% url 'photo' photo.id %}"><img src="{{ photo.photo.url }}" height = 100, width= 100/></div>
                <div class="panel-footer">{{photo.description}}</div>
              </div>
            </div>
        {% endfor %}
        </div>
</div><br>
    {% endif %}
</ul>
{% endblock %}

    {% if True %}
    {% thumbnail album.cover_photo.url "100x100" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}
    {% else %}
        {% with STATIC_URL|add:"/generic.jpg" as path %}
        {% thumbnail path "100x100" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}
    {% endwith %}
    {%endif%}