.crop {
 height: 250px;
 width: 300px;
 overflow: hidden;
 margin: 0 auto;
}
.crop img {
 height: auto;
 width: 300px;

}

.crop_main {
 width: 100%;
 overflow: hidden;
 margin: 0 auto;
}
.crop_main img {
 height: auto;
 width: 75%;

}

