a {
    text-decoration: none;
}

body, html {
    background-color: #ecede8;
}

img {
    max-width: 100vw;
}

.crop {
 height: 100%;
 width: 100%;
 overflow: hidden;
 margin: 0 auto;
 padding: 0;
 max-height: 190px;
}

.crop img {
 height: auto;
 width: 100%;
}

.crop_main {
 width: 100%;
 overflow: hidden;
 margin: 0 auto;
}
.crop_main img {
 height: auto;
 width: 75%;

}

.photo_panel {
    max-height: 320px;
    width: 32.5%;
    margin-top: 15px;
}

.panel-heading {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    font-size: 130%;
    font-family: 'Changa One';

}

.panel-footer {
    font-family: monospace;
    overflow: hidden;
}

.navbar {
  margin-bottom: 20px;
  width: 100vw;
  border-radius: 0;
  /*background-color: #ed6;*/
  border-color: lightgray;
}

.navbar-brand {
    font-family: 'VT323';
    font-size: 160%;
}

.jumbotron {
    background-color: #ecede8;
}

.jumbotron h4 {
    color: #555;
}

h1, h2, h3 {
    font-family: 'Kalam';
}

h4, h5, h6 {
    font-family: 'VT323'
}

p {
    font-family: 'VT323';
    font-size: 150%;
}

.edit_btn {
    display: block;
    position: relative;
    clear: both;
    top: 20px;
    margin-bottom: 14px;
}

a.tag {
    border: 1px solid #dedeFf;
    border-radius: 2px;
    background-color: snow;
    padding: 3px 5px;
}

a.tag:hover {
    background-color: #f3f9f9;
}