{% extends 'base.html' %}

{% block title %}{{profile.user}}'s Profile{% endblock %}


{% block body %}
<ul>
    {% if user.is_authenticated %}
        <h1>{{ userdata.username }}'s profile</h1>
        <p>Bio: {{profile.bio}}</p>
        <p>Website: {{profile.website}}</p>
        <p>Phone: {{profile.phone}}</p>
        {% if user.username == userdata.username %}
            <p>address: {{profile.address}}</p>
            <p>Camera Type: {{profile.camera_type}}</p>
            <p>Travel Radius: {{profile.phone}}</p>
        <a href="{% url 'library' %}"><h2>To the library!</h2></a>
        {% endif %}
        
    {% endif %}
</ul>
{% endblock %}